@{
    ViewBag.Title = "Home Page";
}
<style>
.row{
    margin-top:2%;
}
  </style>
<div class="row">
    <img  src="~/Image/Event-Management-Proposal-Hire4event.jpg"/>
    <section>
        <p><h3>My System is for Create,Manage and Assign the Events to the User.
              User Can see the Assign Events and perform the task.
              This System is use by Event Managment Company For Managing the Events. 
            </h3></p>
    </section>
</div>
