
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row">
    <center>
        <h2>
            Welcome...@Session["name"]
        </h2>
    </center>
</div>


